<footer class="footer">
  <div class="footer__container">
      {% t footer.love %}
  </div>
</footer>

<div class="flex fixed bg-white bottom-0 w-full">
	<div class="flex flex-row max-w-screen-xl px-3 lg:px-4 w-full justify-between mx-auto">
	  {% if page.previous.url %}
	    <a class="prev py-2 text-sm lg:py-3 lg:text-xl" href="{{page.previous.url}}">← Previous</a>
	  {% endif %}
	  {% if page.next.url %}
	    <a class="next py-2 text-sm lg:py-3 lg:text-xl" href="{{page.next.url}}">Next →</a>
	  {% endif %}
	</div>
</div>