.home {
	background: url(/assets/images/equi-80-r.jpg?nf_resize=fit&w=1000) no-repeat center center fixed;
	background-size: contain!important;
	overflow: hidden;
}

body.home video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .home {
    	background: url(/assets/images/equi-80-r.jpg?nf_resize=fit&w=1000) no-repeat center center fixed;
  }
}

@media only screen and (min-width: 1024px) {
  .home {
    	background: url(/assets/images/equi-80-r.jpg?nf_resize=fit&w=1200) no-repeat center center fixed;
  }
}

@media only screen and (min-width: 1280px) {
  .home {
    	background: url(/assets/images/equi-80.jpg?nf_resize=fit&w=1920) no-repeat center center fixed;
  }
}

@media only screen and (min-width: 1920px) {
  .home {
    	background: url(/assets/images/equi-80.jpg?nf_resize=fit&w=3200) no-repeat center center fixed;
  }
}

@media only screen and (min-width: 3000px) {
  .home {
    	background: url(/assets/images/equi-80.jpg?nf_resize=fit&w=3840) no-repeat center center fixed;
  }
}