#index-list {
	text-align: center;
	font-size: 1.5rem;
	padding: 1.5rem 0;
	
	.year-header-first {
		margin-top: 0;
		margin-bottom: 1.5rem;
	}

	.year-header {
		margin: 1.5rem 0;
	}

	ul > li {
		padding-bottom: .75rem;
	}
}