.post {

	.pad {
		padding-left: .75rem;
		padding-right: .75rem;
	}
	line-height: 1.5;
	padding-bottom: 2rem;

	img {
		width: 100%;
	}

	.post-hero {

	}

	&__content {

		a {
			color: blue;
			text-decoration: underline;
		}

		img {
			margin: 2rem 0;
		}

		p {
			margin-bottom: 1rem;
		}

		p {
			// padding-left: .75rem;
			// padding-right: .75rem;
		}

		font-size: 1.124rem;
		@media only screen and (min-width: $main-breakpoint) {
			font-size: 1.25rem;
		}

	}

	font-size: 1rem;

	&__meta {
		margin-top: 1.5rem;
		margin-bottom: 1rem;

	    padding: 0 0.75rem;
	    font-size: 1.5rem;

	    @media only screen and (min-width: $main-breakpoint) {
	    	font-size: 2.25rem;
		}

	}

}

.page {
	&__content {

		color: white;
		font-size: 1.0rem;
		line-height: 1.625;

		// base
	    padding: 0 0.75rem;

	    @media only screen and (min-width: $main-breakpoint) {
	    	padding: 0 1rem;
	    	font-size: 1.5rem;
		}

	    padding-top: 1.5rem;

		a {
			text-decoration: underline;
		}
		p {
			margin-bottom: 1rem;
		}
	}
}