@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;900&display=swap');
$primary-color: #C8385A;
$text-color: #222;
$link-color: #7F7F7F;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$custom-font-family: 'Work Sans', sans-serif;
$primary-font-family: $custom-font-family;

#nav {
	z-index: 1000;
}
.video-container {
	height: 500px;
	max-height: 500px;
	overflow: hidden;
}

.video-box {
	width: 100%;
	position:relative;
}


.video-thumbnail {
	z-index: 300;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.video-frame {
	z-index: 100;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}

.video-container.active {
	iframe {
		visibility: visible;
	}
	.video-thumbnail {
		display: none;
	}
}

.video-container  {
	iframe {
		visibility: hidden;
	}
	.video-thumbnail {
		display: block;
	}
}

/* END VID */

a.active {
	color: blue;
}

a:hover {
	text-decoration: underline;
}

body {
	font-family: $primary-font-family;
	color: $text-color;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.post {
	img {
		width: 100%;
	}
	&__content {
		a {
			color: blue;
			text-decoration: underline;
		}
		img {
			margin: 2rem 0;
		}
		p {
			margin-bottom: 1rem;
		}

	}

	font-size: 1rem;

	&__meta {
		// font-size: 2rem;
	}
}

.page {
	&__content {
		a {
			text-decoration: underline;
		}
		p {
			margin-bottom: 1rem;
		}
	}
}

nav {
	background-color: white;
}

.nav-item {
  flex: 1;
  display: flex;
}

.nav-item:first-child > span { margin-right: auto; }

.nav-item:last-child  > span { margin-left: auto;  }

body.home {
	background: #000000 url(/assets/images/triggered-hr.jpg) no-repeat left top;
	background-size: cover;
	nav {
		// color: white;
		// background-color: rgba(0, 0, 0, 0.2);
	}
}

body.about {
	background: blue;
	color: white;
	nav {
		background-color: blue;
	}
	a.active {
		color: white;
	}
}

#work-list {
	color: white;
}