@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$primary-color: #C8385A;
$text-color: #333;
$link-color: #7F7F7F;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$custom-font-family: 'Work Sans', sans-serif;
$primary-font-family: $custom-font-family;


body {
	font-family: $primary-font-family;
	color: $text-color;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.post {
	&__content {
		img {
			margin: 2rem 0;
		}
	}

	font-size: 1rem;

	&__meta {
		// font-size: 2rem;
	}
}

.page {
	&__content {
		p {
			margin-bottom: 0.5rem;
		}
	}
}

nav {
	background-color: white;
}

.nav-item {
  flex: 1;
  display: flex;
}

.nav-item:first-child > span { margin-right: auto; }

.nav-item:last-child  > span { margin-left: auto;  }

body.home {
	background: #000000 url(/assets/images/triggered1.jpg) no-repeat left top;
	background-size: cover;
	nav {
		// color: white;
		// background-color: rgba(0, 0, 0, 0.2);
	}
}

body.about {
	background: blue;
	color: white;
	nav {
		background-color: blue;
	}
}

#work-list {
	color: white;
}