.fixed {
	position: fixed;
}

.mx-auto {
	margin: 0 auto;
}

.underline {
	text-decoration: underline;
}

.project-link {
	text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
display: block;
color:blue;
}

.w-full {
	width: 100%;
}

.left-pad {
	padding-left: 15px;
}