$primary-color: #C8385A;
$text-color: #222;
$link-color: #7F7F7F;

$font-xl: 58px;
$font-md: 22px;
$font-sm: 18px;
$font-xs: 16px;

$custom-font-family: 'Work Sans', sans-serif;
$custom-font-family: 'Arial', sans-serif;
$custom-font-family: 'Times', sans-serif;
$primary-font-family: $custom-font-family;

$md-breakpoint: 768px;
$main-breakpoint: 1024px;