---
layout: default
---

<section id="index-list">

  <div class="socials">

    <span>📩 jacob@likeneveralways.com</span>

    </br>

    <a href="/cv.pdf">🔗 cv.pdf</a>
    <a href="https://instagram.com/jacobbromsengblom/">🔗 instagram</a>
    <a href="https://twitter.com/osfa">🔗 twitter</a>
    <a href="https://blessthismess.tumblr.com">🔗 tumblr</a>

  </div>

  <h1 style="margin-top: 1.5rem">SELECTED WORKS</h1>

  <h1 class="year-header-first">2022</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2022 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline">
        <!-- <img src="{{ post.hero }}" class="post-hero"
          srcset="{{ post.hero }}?nf_resize=fit&w=960 540w, {{ post.hero }} 960w"
          sizes="(min-width: 960px) 540px, 100vw" /> -->

        <picture>
          <source media="(min-width: 640px)" srcset="{{ post.hero }}">
          <source media="(min-width: 0px)" srcset="{{ post.hero }}?nf_resize=fit&w=960">
          <img src="{{ post.hero }}">
        </picture>

        {{ post.title }}

      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">2021</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2021 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline">
        <picture>
          <source media="(min-width: 640px)" srcset="{{ post.hero }}">
          <source media="(min-width: 0px)" srcset="{{ post.hero }}?nf_resize=fit&w=960">
          <img src="{{ post.hero }}">
        </picture>
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">2020</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2020 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline"><img src="{{ post.hero }}?nf_resize=fit&w=960" class="post-hero" />{{
        post.title }}</a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">2019</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2019 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline">
        <picture>
          <source media="(min-width: 640px)" srcset="{{ post.hero }}">
          <source media="(min-width: 0px)" srcset="{{ post.hero }}?nf_resize=fit&w=960">
          <img src="{{ post.hero }}">
        </picture>
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">2018</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2018 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline">
        <picture>
          <source media="(min-width: 640px)" srcset="{{ post.hero }}">
          <source media="(min-width: 0px)" srcset="{{ post.hero }}?nf_resize=fit&w=960">
          <img src="{{ post.hero }}">
        </picture>
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">2017</h1>
  <ul>
    {% assign sortedPosts = site.posts | sort: 'weight' %} {% for post in
    sortedPosts %} {% if 2017 == post.year %}
    <li>
      <a href="{{ post.url }}" class="underline">
        <picture>
          <source media="(min-width: 640px)" srcset="{{ post.hero }}">
          <source media="(min-width: 0px)" srcset="{{ post.hero }}?nf_resize=fit&w=960">
          <img src="{{ post.hero }}">
        </picture>
        {{ post.title }}
      </a>
    </li>
    {% endif %} {% endfor %}
  </ul>

  <h1 class="year-header">
    <a href="http://www.likeneveralways.com" class="underline">Archive</a>
  </h1>

</section>