---
layout: default
---

<video playsinline autoplay muted loop poster="/assets/images/triggered-hr.jpg" id="bgvid">
  <source src="small-reel.mp4" type="video/mp4">
</video>


<div id="home" class="flex justify-start flex-col flex-grow">

	<section id="intro" class="text-white">
		<!-- push here for insta links and short intro -->
	</section>

	<section id="featured">
		{% for post in site.tags.featured %}


		<a href="{{ post.url }}" class="featured">
			<img src="{{ post.hero }}" class="mb-4" />
			{{ post.title }}
		</a>


		{% endfor %}

	</section>

</div>
