---
layout: default
---

<div id="home">
  <!-- 	<section id="intro" class="text-white">
	</section>

	<section id="featured">
		{% for post in site.tags.featured %}


		<a href="{{ post.url }}" class="featured">
			<img src="{{ post.hero }}" class="mb-4" />
			{{ post.title }}
		</a>


		{% endfor %}

	</section> -->
  <div class="page__content" style="
      color: black;
      background-color: rgba(255, 255, 255, 1);
      font-size: 1rem;
      padding: 15px;
      margin-top: 60px;
      word-wrap: break-word;
      padding-top: 5px;
      /* white-space: pre-wrap; */
    ">
    <span>jacob@likeneveralways.com</span>
    <a href="/cv-jbe.pdf">🔗 cv.pdf</a>
    <a href="https://instagram.com/jacobbromsengblom/">🔗 instagram</a>
    <a href="https://twitter.com/osfa">🔗 twitter</a>
  </div>
</div>

<div id="loader" class="hidden">
  <img src="/min-loader.svg" />
</div>