---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">

    {% if page.audio_source != "" and page.audio_source != nil %}

      <audio class="w-full" controls autoplay>
      <source src="{{ page.audio_source }}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio> 
    {% endif %}


    {% if page.vertical_embed_uri != "" and page.vertical_embed_uri != nil %}

    <div class='embed-container embed-vertical'>
    <iframe width="1000" height="1870" src='{{ page.vertical_embed_uri }}' frameborder='0' allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% elsif page.horisontal_embed_uri != "" and page.horisontal_embed_uri != nil %}

      <div class='embed-container'>
        <iframe src='{{ page.horisontal_embed_uri }}' frameborder='0' allowfullscreen></iframe>
      </div>



    {% else %}

    <img src="{{ page.hero }}?nf_resize=fit&w=1920" class="post-hero" />

    {% endif %}


    <div class="post__meta">
      <p>{{ page.title }}</p>
      <p>{{ page.year }}</p>
      <p>{{ page.description }}</p>
    </div>  

    <div class="post__content" itemprop="articleBody">
      {{ content }}
      {% for image in page.images %}
        <a href="{{ image.path | replace: '.jpg', '-1280.jpg' }}"><img data-sizes="auto"
          src="{{ image.path | replace: '.jpg', '-220.jpg' }}"
          data-src="{{ image.path | replace: '.jpg', '-1280.jpg' }}"
          data-srcset="{{ image.path | replace: '.jpg', '-500.jpg' }} 500w, {{ image.path | replace: '.jpg', '-1024.jpg' }} 1024w, {{ image.path | replace: '.jpg', '-1280.jpg' }} 1280w" class="lazyload" />
        </a>
      {% endfor %}
    </div>


  </div>
</article>

