---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">

    {% if page.audio_source != "" and page.audio_source != nil %}
    <audio class="w-full" controls autoplay>
      <source src="{{ page.audio_source }}" type="audio/mpeg" />
      Your browser does not support the audio element.
    </audio>
    {% endif %}

    <div class="post__meta">
      <p style="font-weight: bold;">{{ page.title }}</p>
      <p>{{ page.year }}</p>
      <p>{{ page.description }}</p>
      {% if page.project_url != "" and page.project_url != nil %}
      <a class="project-link underline" href=" {{ page.project_url }}">🔗 {{ page.project_url }}</a>
      {% endif %}

    </div>

    <div class="post__content tight {{ page.custom_class }}">{{ content }}</div>

    {% if page.vertical_embed_uri != "" and page.vertical_embed_uri != nil %}

    <iframe class="left-pad" width="375" height="700" src="{{ page.vertical_embed_uri }}" frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

    {% elsif page.horisontal_embed_uri != "" and page.horisontal_embed_uri !=
    nil %}

    <div class='embed-container'>
      <iframe width="375" src="{{ page.horisontal_embed_uri }}" frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% else %}

    <!-- <img src="{{ page.hero }}?nf_resize=fit&w=1920" class="post-hero" /> -->

    {% endif %}

    <div class="post__content {{ page.custom_class }}" itemprop="articleBody">
      {% for image in page.images %}
      <a href="/assets/images{{ page.permalink }}{{ image.path }}">
        <img src="/assets/images{{ page.permalink }}{{ image.path }}" srcset="
            /assets/images{{ page.permalink }}{{ image.path }}?nf_resize=fit&w=960 480w" />
      </a>
      {% endfor %}
    </div>
  </div>
</article>