---
layout: default
---
<article class="post pb-8" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post__container">

    {% if page.hero_video != "" and page.hero_video != nil %}
      <div class="video-container">
          <div class="video-box">
              <a class="thumbnail-link">
                  <img src="http://i.ytimg.com/vi/{{ page.hero_video }}/maxresdefault.jpg" class="video-thumbnail">
                  <iframe class="video-frame" width="1000" height="1870" src="https://www.youtube-nocookie.com/embed/{{ page.hero_video }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </a>
          </div>
      </div>
    {% elsif page.embed_youtube_url != "" and page.embed_youtube_url != nil %}
      <div class='embed-container'>
        <iframe src='{{ page.embed_youtube_url }}' frameborder='0' allowfullscreen></iframe>
      </div>
    {% else %}
      
      {% if page.hero_w != "" and page.hero_w != nil %}
        <a href="{{ page.hero }}"><img src="{{ page.hero }}" width="1280" height="1280" class="mb-4" /></a>
      {% else %}
        <a href="{{ page.hero }}"><img src="{{ page.hero }}" class="mb-4" /></a>
      {% endif %}

    {% endif %}

    <div class="post__meta mb-4 mt-6 text-2xl px-3 lg:text-4xl">
      <p>{{ page.title }}</p>
      <p>{{ page.year }}</p>
      <p>{{ page.description }}</p>
    </div>  

    <div class="post__content text-lg lg:text-xl" itemprop="articleBody">
      {{ content }}
      {% for image in page.images %}
        <a href="{{ image.path | replace: '.jpg', '-1280.jpg' }}"><img data-sizes="auto"
          src="{{ image.path | replace: '.jpg', '-220.jpg' }}"
          data-src="{{ image.path | replace: '.jpg', '-1280.jpg' }}"
          data-srcset="{{ image.path | replace: '.jpg', '-500.jpg' }} 500w, {{ image.path | replace: '.jpg', '-1024.jpg' }} 1024w, {{ image.path | replace: '.jpg', '-1280.jpg' }} 1280w" class="lazyload" />
        </a>
      {% endfor %}
    </div>


  </div>
</article>

